<h1>Mitmachen!</h1>
<div class=group>
  <mat-form-field appearance="outline">
    <mat-label>Dein Name</mat-label>
    <input matInput type="text" [(ngModel)]="name" [disabled]="isAdded">
  </mat-form-field>
  <div><button mat-raised-button color="primary" (click)="addName()" [disabled]="isAdded || !name">Eintragen</button>
  </div>
</div>
<hr>
<h1>Würfel-Ergebnisse</h1>
<div class="results">
  <div *ngFor="let dice of dices" class=dice [class.highest]="dice.number && highest().number == dice.number"
    [class.dicing]="isDicing && dice.name === name">
    <div class=name>{{dice.name}}</div>
    <div class=result>
      <ng-container *ngIf="!dice.number ">Noch nicht gewürfelt</ng-container>
      <ng-container *ngIf="dice.number"><img src="../assets/dice-{{dice.number}}.svg" class=dice-bg></ng-container>
    </div>
    <div class=action *ngIf="dice.name === name && isAdded">
      <button mat-raised-button color="primary" [disabled]="!!dice.number" (click)="startDice()">Würfeln!</button>
    </div>
  </div>
</div>
<hr>
<h2 class=admin>Für den Moderator</h2>
<div class=danger>
  <button mat-raised-button color="secondary" (click)="reset('reset')" [disabled]="!dices?.length">Alle Würfel zurücksetzen</button>
  <button mat-raised-button color="secondary" (click)="reset('delete')" [disabled]="!dices?.length">Alle Nutzer löschen</button>
</div>